body{

    background-color: black;
    text-align: center;
    border: solid red;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 150px;
    color: white;
    
    }
    
    .login{
    
    border-radius: 10px;
    
    }
    
    button{
    
    border-radius: 10px;
    width: 130px;
    height: 30px;

    color: blue;
    
    }

    input{
    width: 130px;
    height: 30px;

    
    }

input::placeholder{

color: blue;

}

#all{

color: red;
background-color: white;
width: 300px;
height: 400px;

}
