body{

background-image: url("img/css.jpg");
text-align: center;
border: solid white;
width: 300px;
margin: auto;
border-radius: 10px;
margin-top: 150px;
color: white;

}

.login{

border-radius: 10px;

}

button{

border-radius: 10px;

}

#all{

background-color: black;

}
