body{

margin: auto;
display: flex;
text-align: center;
justify-content: center;
background-image: url("css_image.jpg");
color: yellow;
font-family: Arial, Helvetica, sans-serif;

}

div{

background-image: url(div.avif);
border-radius: 50px;
width: 500px;
box-shadow: 0px 8px 20px black;
margin-top: 100px;

}

input{

border-radius: 20px;
height: 30px;
width: 400px;
background-color: #000080
;

}

button{

border-radius: 10px;
height: 40px;
width: 40px;
color: yellow;
background-color: #000080;

}

input::placeholder{

color: yellow;

}

